<%= form_for(service) do |f| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :Nombre %>
      <%= f.text_field :nombre %>
    </div>

    <div class="medium-6 columns">
      <%= f.label :Precio %>
      <%= f.text_field :precio %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Registrar servicio", class: 'button' %>
  </div>
<% end %>
