<% if current_user.rol == 'Administrador' %>
	<h1>Editar Servicio</h1>

	<%= render 'form', service: @service %>

	<%= link_to 'Mostrar', @service, class: 'button' %> |
	<%= link_to 'Volver', services_path, class: 'button success' %>
<% else %>
	<h3>Usted no tiene permisos necesarios para acceder aqui</h3>
<% end %>