<p id="notice"><%= notice %></p>

<% if current_user.rol == 'Administrador' %>
  <h1>Administrar Servicios</h1>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.nombre %></td>
          <td id='p'>
            <script type="text/javascript">
              document.getElementById('p').innerHTML=accounting.formatMoney(<%= service.precio %>, "$", 2, ",", ".");
            </script>
          </td>
          <td><%= link_to 'Mostrar', service, class: 'button success' %></td>
          <td><%= link_to 'Editar', edit_service_path(service), class: 'button'%></td>
          <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'button alert' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo servicio', new_service_path, class: 'button' %>
<% else %>
	<h3>Usted no tiene permisos necesarios para acceder aqui</h3>
<% end %>
