<% if current_user.rol == 'Administrador' %>
	<h1 class="text-center">Nuevo Servicio</h1>

	<%= render 'form', service: @service %>

	<%= link_to 'Volver', services_path, class: 'button success' %>
<% else %>
	<h3>Usted no tiene permisos necesarios para acceder aqui</h3>
<% end %>
