<p id="notice"><%= notice %></p>

<% if current_user.rol == 'Administrador' %>
	<p>
  		<strong>Nombre:</strong>
  		<%= @service.nombre %>
	</p>

	<p>
		<strong>Precio:</strong>
  		<%= @service.precio %>
	</p>

	<%= link_to 'Editar', edit_service_path(@service), class: 'button' %> |
	<%= link_to 'Volver', services_path, class: 'button success' %>
<% else %>
	<h3>Usted no tiene permisos necesarios para acceder aqui</h3>
<% end %>