<%= form_for(membership) do |f| %>
	<% if membership.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

			<ul>
			<% membership.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
  	<div class="row">
    	<div class="medium-6 columns">
			<%= f.label :Cliente %>
			<%= f.collection_select :id_cliente, Client.order(:nombre), :id, :apellidos, include_blank: false %>
		</div>

		<div class="medium-6 columns">
			<%= f.label :Servicio %>
			<%= f.collection_select :id_servicio, Service.order(:nombre), :id, :nombre, include_blank: false %>
		</div>
	</div>

  <div class="row">
    <div class="medium-6 columns">
		<%= f.label :Fecha_contrato %>
		<%= f.date_select :fecha_inicio %>
	</div>

	<div class="medium-6 columns">
		<%= f.label :Fecha_vencimiento %>
		<%= f.date_select :fecha_fin %>
	</div>
  </div>
	<div class="actions">
		<%= f.submit "Registrar", class: 'button' %>
	</div>
<% end %>
