<h1>Editar membrecía</h1>

<% if current_user.rol == 'Administrador' %>
	<%= render 'form', membership: @membership %>

	<%= link_to 'Mostrar', @membership, class: 'button' %> |
	<%= link_to 'Volver', memberships_path, class: 'button success' %>
<% else %>
	<h3>Usted no tiene permisos necesarios para acceder aqui</h3>
<% end %>