<p id="notice"><%= notice %></p>

<h1><%= current_user.rol == 'Administrador' ? 'Administrar ':'Mis '%>Membrecías</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Servicio</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <% @aux = Client.where(id: membership.id_cliente)[0] %>
        <td><%= @aux.nombre + ' ' + @aux.apellidos %></td>
        <td><%= Service.where(id: membership.id_servicio)[0].nombre %></td>
        <td><%= membership.fecha_inicio %></td>
        <td><%= membership.fecha_fin %></td>
        <% if current_user.rol == 'Administrador' %>
          <td><%= link_to 'Mostrar', membership, class: 'button success' %></td>
          <td><%= link_to 'Editar', edit_membership_path(membership), class: 'button' %></td>
          <td><%= link_to 'Eliminar', membership, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'button alert round' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.rol == 'Administrador' %>
  <%= link_to '+', new_membership_path, class: 'button' %>
<% end %>
