<p id="notice"><%= notice %></p>

<% if current_user.rol == 'Administrador' %>
	<p>
  		<strong>Cliente:</strong>
  		<% @aux = Client.where(id: @membership.id_cliente)[0] %>
  		<%= @aux.nombre + ' ' + @aux.apellidos %>
	</p>

	<p>
  		<strong>Servicio:</strong>
  		<%= Service.where(id: @membership.id_servicio)[0].nombre %>
	</p>

	<p>
  		<strong>Fecha inicio:</strong>
  		<%= @membership.fecha_inicio %>
	</p>

	<p>
  		<strong>Fecha fin:</strong>
  		<%= @membership.fecha_fin %>
	</p>

	<%= link_to 'Editar', edit_membership_path(@membership), class: 'button' %> |
	<%= link_to 'Volver', memberships_path, class: 'button success' %>
<% else %>
	<h3>Usted no tiene permisos necesarios para acceder aqui</h3>
<% end %>