<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div>
<div class="login centrar">
  <h2 class="text-center">Iniciar sesión</h2>

  <div class="field">
    <%= f.label :Correo_electrónico %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Contraseña %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :Recordar_contraseña %>
    </div>
  <% end -%>

  <div class="text-center">
    <%= f.submit "Iniciar sesión", class: 'button' %>
  </div>
</div>
</div>
<% end %>

<%= render "users/shared/links" %>
