<%= form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :Usuario %>
      <%= f.collection_select :id_usuario, User.all, :id, :email, include_blank: false %>
    </div>

    <div class="medium-6 columns">
      <%= f.label :foto %>
      <%= f.file_field :foto %>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :nombre %>
      <%= f.text_field :nombre %>
    </div>

    <div class="medium-6 columns">
      <%= f.label :apellidos %>
      <%= f.text_field :apellidos %>
    </div>
  </div>

  <div class="medium-6 columns medium-offset-3">
    <%= f.submit "Registrar Cliente", class: 'button' %>
  </div>

  </br>
<% end %>
