<h1>Editar Cliente</h1>

<% if current_user.rol == 'Administrador' || (current_user.rol == 'Cliente' && @client.id_usuario == current_user.id) %>
	<%= render 'form', client: @client %>

	<%= link_to 'Mostrar', @client, class: 'button' %> |
	<%= link_to 'Volver', clients_path, class: 'button success' %>
<% else %>
	<h3>Usted no tiene permisos necesarios para acceder aqui</h3>
<% end %>
