<% if current_user.rol == 'Administrador' %>
  <h1>Administrar Clientes</h1>


  <table>
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Foto</th>
        <th>NombreS</th>
        <th>Apellidos</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= User.where(id: client.id_usuario)[0].email %></td>
          <td><%= image_tag(client.foto_url, :width=> 75, :height =>75)%></td>
          <td><%= client.nombre %></td>
          <td><%= client.apellidos %></td>
          <td><%= link_to 'Mostrar', client, class: 'button success' %></td>
          <td><%= link_to 'Editar', edit_client_path(client), class: 'button'  %></td>
          <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: '¿Está seguro?' }, class: 'button alert' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '+', new_client_path, class: 'button' %>
<% else %>
  <h3>Usted no tiene permisos necesarios para acceder aqui</h3>
<% end %>