<h1 class='text-center'>Nuevo cliente</h1>

<% if current_user.rol == 'Administrador' %>
	<%= render 'form', client: @client %>

	<%= link_to 'Volver', clients_path, class: 'button success' %>
<% else %>
	<h3>Usted no tiene permisos necesarios para acceder aqui</h3>
<% end %>