<p id="notice"><%= notice %></p>
<% if current_user.rol == 'Administrador' || (current_user.rol == 'Cliente' && @client.id_usuario == current_user.id) %>

<table>
	<tr>
  		<th align="center" valign="middle">
  			<strong>Foto</strong>
  			<br>
  			<%= image_tag(@client.foto_url, :width=> 500, :height =>500)%>
  		</th>
	</tr>

	<tr>
		<th align="center" valign="middle">
  			<strong>Usuario:</strong>
  			<%= @client.nombre %>
		</th>
	</tr>

	<tr>
		<th align="center" valign="middle">
  			<strong>Apellidos:</strong>
  			<%= @client.apellidos %>
		</th>
	</tr>

	<tr>
		<th align="center" valign="middle">
  			<strong>Usuario:</strong>
  			<%= User.where(id: @client.id_usuario)[0].email %>
		</th>
	</tr>
</table>

	<%= link_to 'Editar', edit_client_path(@client), class: 'button' %> |
	<% if current_user.rol == 'Administrador' %>
		<%= link_to 'Volver', clients_path, class: 'button success' %>
	<% end %>
<% else %>
	<h3>Usted no tiene permisos necesarios para acceder aqui</h3>
<% end %>