

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<div>
<div class="centrar pass">
  <h2>Olvidé mi contraseña</h2>

  <div class="field">
    <%= f.label :Correo_electrónico %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Enviarme instrucciones para recuperar mi contraseña" %>
  </div>
  </div>
 </div>
<% end %>

<%= render "users/shared/links" %>
