/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

a.button:visited{
    color: #fff;
}

a.button:visited:hover{
    color: #fff;
}

 .centrar{
 	margin: 0 auto;
 }

 .pass{
 	width: 400px;
 }

 .login{
 	width: 300px;
 }

 .borde{
 	border: 1px solid #777;
 }

.icono{
    vertical-align: middle;
    align-content: center;
	margin: 5px;
}

ul {
    list-style-type: none;
    margin-top: -30px;
    margin-left: -30px;
    width: 120%;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

.lir1{
    float:right;
    margin-right: 15%;
}

.lir2{
    float:right;
}

li a, .dropbtn {
    display: inline-block;
	color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #3696F0;
}

li.dropdown:hover .dropbtn {
	color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}