<p>Bienvenido <%= @email %>!</p>

<p>Puede confirmar su cuenta de correo electrónico en el siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
