<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos comunicamos con usted para notificarle que su correo electrónico esta cambiando a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos comunicamos con usted para notificarle que su correo electrónico ha cambiando a <%= @resource.email %>.</p>
<% end %>
