<h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="row">
  <div class="field medium-6 columns">
    <%= f.label :Correo_electrónico %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field medium-6 columns">
    <%= f.label :Contraseña %>
    <% if @minimum_password_length %>
    <em>(Mínimo <%= @minimum_password_length %> carácteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>
<div class="row">
  <div class="field medium-6 columns">
    <%= f.label :Confirmar_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="medium-6 columns">
	  <%= f.label :Rol %>
	  <%= f.select :rol, ['Cliente', 'Administrador'] %>
  </div>
</div>
  <div class="actions text-center">
    <%= f.submit "Registrarse",class: 'button' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
